<meta charset="UTF-8">
<title>EJS Is Fun</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">

<style>
    *{
        color: #fff;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body {
        background: linear-gradient(black,black,rgb(163, 163, 163)); 
    } 

    header{
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        /* align-content: space-around; */
        margin-bottom: 1em;
    }
    
    .model_name .model_name_h1{
        font-size: 2.9rem;
        margin: 0.3em;
        text-transform: uppercase;
    }
    .tick_icon{
        width: 50px;
        transform: translate(300px,-80px);
    }

    .description{
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        margin: 0.5em;
    }
    .description p{
        font-size: 1.6rem;
    }

    main{
        margin: 0.5em;
    }

    .social-icons{
        width: 20%;
        position: absolute;
        /* z-index:2; */
        right: 5px;
        /* top: 10px; */
        /* border: 1px solid red; */
    }

    .frame{
        width: 95%;
        transform: perspective(395px)rotateY(345deg);
    margin-top: 100px;
    border: 3px solid black;
    border-radius: 5px;
    }
    .social-icons i{
        width: 25px;
        color: black;
        /* background: #fff; */
        border-radius: 15px;
        margin: 0.2em;
        padding:2px;
    }
    .frame img{
        width: 100%;
        max-width: 960px;
    }

main{
    padding: 1em;
}

.container{
    margin:1em 0;
}
.container2{
    overflow: hidden;
    
}

.scrollmenu_title{
    text-align: center;
}
    div.scrollmenu {
 padding: 0.5em;
 display: flex;
 align-items: center;
  background-color: rgb(170, 170, 170);
  white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}

div.scrollmenu::-webkit-scrollbar {
       display: none;
 }

div.scrollmenu img {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  max-width: 160px;
  max-height: 180px;
}


div.scrollmenu .pastwork-video{
    display: block;
    padding: 1em;
    margin: 1.5em 0;
    max-height: 280px;
    border-left: 4px solid white;
}

.information{
    margin: 0 1em;
}
.information_list{
    display: flex;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

    .information ul li{
        font-size: 1.6rem;
    }
/* =======================IMAGE SETTINGS======================= */


    .myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.myImg:hover 
{
    opacity: 0.7;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10000; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-size: contain;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 960px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

/* ============OVerlay=================== */

.overlay_container {
  position: relative;
  width: 50%;
}

.overlay_image {
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}

.overlay_middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.overlay_container:hover .overlay_image {
  opacity: 0.3;
}

.overlay_container:hover .overlay_middle {
  opacity: 1;
}

.overlay_text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  text-decoration: none;
}

/* ======OVERLAY-END===================== */


@media screen and (min-width: 720px) {

    header{
        flex-direction: row;
    }   
    .model_name{
        border-right: 1px solid #fff;
        /* max-width: 200px; */
    }
    .tick_icon{
        width: 50px;
        transform: translate(400px,-20px);
    }

    .description{
        border-top: none;
        padding: 0.3em;
        border-bottom: 2px solid #fff;
        /* margin-top: 0.8em; */
        max-width: 360px;
    }
    .description p{
        font-size: 1.3rem;
    }

    .frame{
        /* float: right; */
        width: 60%;
        margin: 3rem 0;
        margin-left: 1em;
    }

    .social-icons{
        width: 15%;
    }

 .information{
     /* border: 1px solid red; */
     width: 90%;
     margin: 0 auto;
 }
    .information_list{
    text-align: center;
    flex-direction: row;
    font-size: 1.4rem;
}
.information_list_item{
    padding: 0 0.5em;
}

}


@media screen and (min-width: 1280px)
{
    header{
        /* margin-top: 1em; */
        width: 50%;
    }

    body{
        padding: 1em;
        background: black;
    }

    .workarea{
        background: linear-gradient(black,black,rgb(163, 163, 163)); 
    }
    .model_name .model_name_h1{
        font-size: 4rem;
    }
    .container{
        width: 90%;
        max-width: 960px;
        max-height: 50vh;
        padding:0;
        border: 2px solid #fff;
    }
    .container2
    {
        padding:1em;
        width:100%;
        max-height: 50vh;
        transform: translate(25px,25px);  
        border:2px solid #fff;
        display: flex;
        align-content: center;
        /* align-items: center; */
    }
    div.scrollmenu img {
        display: inline-block;

    }
    div.scrollmenu{
        
        /* display: flex; */
        flex-wrap: wrap;
        justify-content: center;
        max-width: 360px;
        height: 75%;
        margin: 0.5em;
        padding: 1em;
        /* transform: translateY(1em); */
    }
    
    header
    {
        margin-bottom: 3em;
    }
    .tick_icon{
        width: 50px;
        transform: translate(300px,-20px);
    }
    .container2{
        margin-bottom: 2em;
    }
    div.scrollmenu{
        overflow-y: scroll;
        overflow-x: hidden;
    }

    
    .frame
    {
        position: absolute;
        right: 7%;
        top:12%;
        float: right;
        width: 40%;
        transform: perspective(395px)rotateY(345deg);
    margin-top: 100px;
    border: 3px solid black;
    border-radius: 5px;
    }
    .frame_img
    {
        width: 70%;
        
    }
    div.scrollmenu .pastwork-video{
        display: block;
        border-left: none;
    border-top: 4px solid white;
}

    .container{
        width: 45%;
    }
    .container2{
        /* max-height: 60vh; */
    }

    .information{
        width:60%;
    }
}


</style>
