<div class="information">
    <ul class="information_list">
        <li class="information_list_item"> Height: <%= height %> </li>
        <li class="information_list_item"> dob: <%= dob %> </li>
        <li class="information_list_item"> Age: <%= age%> </li>
        <li class="information_list_item"> Hair-color : blonde</li>
        <li class="information_list_item"> Eye: blue-green</li>
    </ul>
</div>