<div class="model_name">
    <h1 class="model_name_h1">
        <%= fname+" "+lname %>
    </h1>
    
    <div class="tick">
        <img class="tick_icon" src="blue_tick.png" alt="confidential">
</div>

</div>