<div class="past-work">
    
    <h2 class="scrollmenu_title" >PAST WORK</h2>

    <div class="scrollmenu">
        <div class="pastwork-photos">
            <% for(pw in pastwork) {%>
                <% if(pastwork[pw].content_type=="photo") {%>
                    <div class="overlay_container">
                        <img class="overlay_image img" src=<%= "past-work/"+pastwork[pw].content_type+"/"+pastwork[pw].filename %> >
                        <div class="overlay_middle">
                          <a class="overlay_text" href=<%= "past-work/"+pastwork[pw].content_type+"/"+pastwork[pw].filename %> target="_blank">visit</a>
                        </div>
                    </div>
                <% } %>
            <% } %>
        </div>
        <div class="pastwork-video">
            <% for(pw in pastwork) {%>
                <% if(pastwork[pw].content_type=="video") {%>
                    <div class="overlay_container">
                        <img class="overlay_image img" src="past-work/video/link_icon.jpg" >
                        <div class="overlay_middle">
                          <a class="overlay_text" href=<%= "past-work/"+pastwork[pw].content_type+"/"+pastwork[pw].filename %> target="_blank">visit</a>
                        </div>
                    </div>
                <% } %>
            <% }%>
        </div>
        <div class="pastwork-video">
            <% for(pw in pastwork) {%>
                <% if(pastwork[pw].content_type=="link") {%>
                    <div class="overlay_container">
                        <img class="overlay_image img" src="past-work/link/linkicon.jpg" >
                        <div class="overlay_middle">
                          <a class="overlay_text" href=<%= pastwork[pw].link %> target="_blank">visit</a>
                        </div>
                    </div>
                <% } %>
            <% }%>
        </div>

        
    </div>

</div>
