*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #fff;
    color: rgb(160, 160, 160);
}

span{
    font-size: 2rem;
}

#list{

}

#messenger{
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    /* justify-content: space-around; */
}

#task{
    width: 80%;
    font-size: 1.5rem;
    padding: 5px;
}

#send-message{
    width:20%;
    border: none;
    background: rgb(0, 81, 255);
    color: #fff;
}

#list{
    margin: 8em 0;
    padding: 0 10px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
}

.incomming{
    background: rgb(255, 234, 140);
    margin-left: auto;
    margin-top: 20px;
    /* font-size: 1.2rem; */
    border-radius: 4px;
    padding: 10px;
    color: black;
    width: 70%;

}

.outgoing{
    background: rgb(154, 255, 59);
    margin-top: 20px;
    font-size: 1.2rem;
    border-radius: 4px;
    padding: 10px;
    color: black;
    width: 70%;
}