/* all settings */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url('./pexels-pixabay-158163.jpg');
    /* background-position: center; */
    /* background-size: cover; */
}

.tempbox{
    border: 1px solid red;
}

ul{
    list-style: none;
}
/* menubar-main */
.menubar{
    background: #020202c7;
    display: flex;
    max-height: 35px;    
    /* border: 1px solid red; */
}

.menubar-content{
    display: none;
    max-width: 50%;
    position: absolute;
    top: 30px;
    background:  #fff;
    box-shadow: 1px 1px 4px #141414b4;
}

.menubar-options{
    opacity: 0;
    font-size: 1.2rem;
    /* color: #fff; */
    /* padding: 1em; */
    font-family: sans-serif;
}

.menubar-options li{
    width: 100%;
    height: 40px;
    padding: 0.5em;
    border-bottom: 1px solid rgb(134, 134, 134);
    cursor: pointer;
}

.menubar-options li:last-child{
    border-bottom: none;
}



/* menubar-icon */
.menubar-icon{
    font-size: 1.7rem;
    width: 35px;
    height: 30px;
    transform: rotate(90deg);
    color: #fff;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.menubar-icon-bar{
    width: 35px;
    margin: 5px auto;
    height: 3px;
    background: black;
}

.menubar-icon-bar.bar2{
    width: 25px;
}



/* ===animations used in menu===== */

@keyframes menu-fade-in{
from{
    opacity: 0;
}to{
    opacity: 1;
}
}

@keyframes linedown{
    0%{
        height: 0px;
        opacity: 0;
    }50%{
        opacity: 0.5;
        height:126px;
    }100%{
        opacity: 1;
    }
}
@keyframes open-menu-animation{
    0%{
        width: 0;
        opacity: 0;
    }50%{
        opacity: 1;
    }100%{
        opacity: 1;
        width: 50%;
    }
}

@keyframes close-menu-animation{
    0%{
        width: 0;
        opacity: 0;
    }50%{
        opacity: 1;
    }100%{
        opacity: 1;
        width: 50%;
    }
}
