<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Let's Chat</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1 style="padding: 10px; position: fixed; top: 0; background: rgb(0, 81, 255); color: #fff;">Welcome to Chatroom</h1>
    <form action="/todo" id="messenger" method="post">
        <input type="text" name="task" id='task' placeholder="Enter the message">
        <button type='button' id='remove'hidden>remove</button>
        <button type='button' id='send-message' onclick="sendIt()">send</button>
    </form>
    <hr>
    <div>
        <ul id='list'>
        </ul>
    </div>
<script src="libs/socket.io-client/dist/socket.io.js"></script>
<script src="script/script.js"></script>
</body>
</html>