<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Konoha</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Welcome to Konoha</h1>
    <form action="/todo" method="post">
        <input type="text" name="task" id='task' placeholder="Enter the task">
        <button type="submit">Add Task</button>
    </form>
    <hr>
    <div>
        <h3>My Tasks</h3>
        <ul>
            <% for(let task of tasks){%>
                <li><%=task%></li>
            <%}%>
        </ul>
    </div>
<script src="script/script.js"></script>
</body>
</html>