<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Let's Chat</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <h3 class="text-light bg-primary" style="padding: 10px; width: 100%; text-align: center; position: fixed; top: 0;">Welcome to Chatroom</h2>
    <div id="messenger">
        <input type="text" name="task" id='task' placeholder="Enter the message" required>
        <button type='button' id='remove'hidden>remove</button>
        <button type='button' id='send-message' onclick="sendIt()"><i class="fas fa-paper-plane"></i></button>
    </div>
    <hr>
    <div>
        <ul id='list'>
        </ul>
    </div>
<script src="libs/socket.io-client/dist/socket.io.js"></script>
<script src="https://kit.fontawesome.com/6d2ea823d0.js"></script>
<script src="script/script.js"></script>
</body>
</html>