<!DOCTYPE html>
<html lang="en">
<head>
<!-- login head -->
<%- include('../partials/login/login_header') %>
</head>
<body>
    <div class="app-container">
        <!-- login menu -->
        <%- include('../partials/login/login_menu' , {lastbutton:"Log in"})%>
        <div class="row2">
            <!-- login title -->
            <%- include('../partials/login/login_title')%>
            <div class="col2">
                <%- include('../partials/login/login_box', {title: "Sign", endnote: "Already have a account?", url: "/login"});%>
            </div>
        </div>
    </div>
    <script src="script/login.js
    "></script>
    <script src="https://kit.fontawesome.com/6d2ea823d0.js"></script>
</body>
</html>