<div class="row1">
    <div class="header">
        <div class="docs header-elem ">
            <p class="text-light elem"><i class="fas fa-file-alt"></i> Docs</p>
        </div>
        <div class="about header-elem ">
            <p class="text-light elem"><i class="fas fa-user"></i> About</p>
        </div>
        <div class="signin header-elem ">
            <p class="text-light elem"><i class="fas fa-address-book"></i> <%=lastbutton%> </p>
        </div>
    </div>
</div>
<p class="menu-icon"><i class="fas fa-bars"></i></p>